body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #FFFFFF;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.taginput
{
    width:130px;
}

.selected {
    color:#0069d6;
}

.mytop
{
    padding-top:5px;
    text-align:center;
    margin-left:0px;
    left:auto;
    right:auto;

}

.gamertext
{
    text-align:right;
    vertical-align:middle;

}

.mytop .gamertext
{
    padding-right:20px;
}

.mytop input
{
    margin-right:20px
}

table td
{
    vertical-align:middle;
}

.gametitle
{
    vertical-align:middle;
}
.invalidtag
{
    -moz-box-shadow: 0 0 2px 2px #FF0000;
    -webkit-box-shadow: 0 0 2px 2px #FF0000;
    box-shadow: 0 0 2px 2px #FF0000;
}

.right
{
    text-align:right;
}

.center
{
    text-align:center;
}



table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp 
{
    background-color: #8dbdd8;
}
