@model Site.Models.Gamers
@using Site.Helpers           
@using Site.Models
<div class="span16">
@{

    if (HttpContext.Current.IsDebuggingEnabled)
    {
        if (Model != null)
        {
            if (string.IsNullOrWhiteSpace(Model.Tag1))
            {
                Model.Tag1 = "Bundy";
            }
            if (string.IsNullOrWhiteSpace(Model.Tag2))
            {
                Model.Tag2 = "Blazer2";
            }
        }
    }
        
    using (Html.BeginForm())
    {        
        <div id="tagpicker" class="s mytop span16">

                <span class="gamertext">Gamer 1</span>
                @Html.TextBoxFor(g => g.Tag1, new { maxlength = 15, size = 15, @class = "taginput" })

                <span class="gamertext">Gamer 2</span>
                @Html.TextBoxFor(g => g.Tag2, new { maxlength = 15, size = 15, @class = "taginput" })
            
            @Html.Button("Compare", new Dictionary<string, object>() { { "class", "btn" } })
        </div>
    }    
}
</div>
<br />