@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" type="text/css" />
    @Styles.Render("~/Content/css")
</head>

<body>
    <div class ="container">
        @Scripts.Render("~/bundles/js")
        @RenderBody()
    </div>
</body>
</html>
