@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css", "~/Content/bootstrap/base")
</head>

<body>
    <div class ="container">
        @Scripts.Render("~/bundles/js", "~/bundles/bootstrap")
        @RenderBody()
    </div>
</body>
</html>
